<div class='col-9'>
<div class="border-bottom";style='margin-bottom:10px';'padding-bottom:4px';border-radius: 5px';><b>Farmers Group id:</b> {{farmersdata['farmersid']}}
<div <b>Farmers Group Name:</b>  {{farmersdata['farmersgroupname']}}</div>
<div <b>Leadership:</b> {{farmersdata['Leadership']}}</div>
<div <b> Gps:</b> {{farmersdata['Gps']}}</div>
<div <b> Location:</b> {{farmersdata['Gps']}}</div>
  <div 10px <b> Group Formation Date:</b> {{farmersdata['Groupformationdate']}}</div>
</div>
  
</div>
<div class="col-2";style="width:200px";style=position:relative; border-bottom:"2px">
 <button type="button" class="btn btn-success"; width: 70%;> Details</button><br>
</div>

