{% extends "base.html" %}

{% block content %}
<div class="hero">
    <h1 class="h1"><b>Welcome to JFAC Farmers</b></h1>
    <!-- <h1>  {{company_name}}</h1>-->
      <p class="subtitle">A group of farmers with a purpose</p>
    <div class="hero-content">
        <h2 class = "h2">Our Mission</h2>
        <p>We are dedicated to sustainable farming practices, community support, and agricultural innovation.</p>
        
        <div class="features">
            <div class="feature">
                <h3 class="p">🌱 Sustainable Agriculture</h3>
                <p>Promoting environmentally friendly farming methods</p>
            </div>
            <div class="feature">
                <h3>🤝 Community Support</h3>
                <p class="p">Supporting local farmers and communities</p>
                
            </div>
            <div class="feature">
                <h3>💡 Innovation</h3>
                <p>Embracing new technologies and farming techniques</p>
            </div>

            <div class="feature">
                <h3>💡 Administrator's Corner </h3>
                

                
                <p>This section is for Manager Only</p> <br><br>
                <!--
                <button class="btn btn-success" type="button" onclick="alert('Please contact the administrator for login details if you dont have them.')">System Login!
                </button>
                -->
                <a href="loginss.html" class="btn btn-danger"> Login off</a>
            </div>
             
        </div>
    </div>
</div>

<h1 class=h2 style=text-align:center; animation:zoom 5s infinite ><b>Gathering Farmers' Data</b></h2>
<div class="features">
     <div class="feature">
<div>
    <div class="row">
        <div class="col-2"></div>
        
         <p class="fw-bold">
    {% for farmersdata in farmersdata%}
        {%include 'datafile.html'%}
    {% endfor %}

    
</p>
        </div> 
    </div> 
    </div> 
</div>
    </div>

{% endblock %}
