
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mailing Form</title>
</head>
<body>
    <form action="mailto:jestyug@gmail.com" method="GET" target="_blank">
        <h3 class="mb-3"; text-align: "left">Email Us for Support</h3>
        <div class="mb-3"; text-align: "left"><label class="label" for="subject">Email Subject</label><br>
        <input name="subject" id="subject" type="text" class="form-control" value="jestyug@gmail.com"></div><br>
        <div class="mb-3"; text-align: "left"><label class="label" for="body"class="form-control">Email Body</label><br>
        <textarea class="textarea" name="body" class="form-control" id="body">Example Email Body</textarea></div><br>
        <div><input type="submit" value="Create Email" class="form-control"></div>
</form>
    
    <p>Thank for Reaching out to us for Support! Lets get back to you as soon as possible</p><br>
    <a href="https://www.eminence.co.ug">Visit us</a><br>
   
</body>
</html>










